[user]
	name = Matheus Mol
	email = matheusmol@hotmail.com
[url "https://github.com/"]
	insteadOf = ssh://git@github.com/
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
	pager = delta
[diff]
	colorMoved = default
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = base16
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[branch]
	sort = -committerdate
[column]
	ui = auto
[alias]
	st = status -sb
	co = checkout
	sw = switch
	br = branch
	ci = commit
	cm = commit -m
	amend = commit --amend --no-edit
	unstage = reset HEAD --
	last = log -1 HEAD --stat
	lg = log --oneline --graph --decorate --all
	d = diff
	ds = diff --staged
